.navbar {
	background: #14b1bb;
	border-color: #14b1bb;
	border-bottom: 1px solid #14b1bb;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-radius: 0;
	margin-bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 11;
	top: 0;
	/*box-shadow: 5px 10px 15px 5px rgba(0,0,0,.1);*/
}

.navbar-inverse .navbar-header > button{
	border-color: #fff;
	background: #14b1bb;
}

.navbar-inverse .navbar-header > button:hover {
	/*background-color:  white;
	color: #10100a;
	*/
	border-color: #fff;
	background: #14b1bb;
}

.navbar-inverse .navbar-header > button:focus {
	background-color:  #14b1bb;
	color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff;
	/* font-weight: bold; */
	font-size: 18px;
	border-bottom: 2px solid #14b1bb;
	/*transition: 0.2s;*/
	transition: all 0.15s ease;
}

.navbar-inverse .navbar-brand {
	color: #fff;
	/* font-weight: bold; */
	font-size: 20px;
	padding-left: 30px;
}

.navbar-inverse .navbar-brand:hover {
	color: #fff;
}

.navbar-inverse .navbar-brand:focus {
	/* color: #10100a; */
}

.navbar-inverse .navbar-nav > li > a:hover {
	/*background: #1f1f14;*/
	background: white;
	color: #14b1bb;
	border-bottom: 2px solid #fff;
}

/* Hover effect on different element*/
.navbar-inverse .navbar-nav > li > a:hover .nav-icon {
  /*color: white;*/
	color: #fff;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
	/*background: #1f1f14;*/
	background: white;
	color: black;
	border-bottom: 2px solid #fff;
}

.navbar-inverse .navbar-nav > li > a:focus {
	/*background: #1f1f14;*/
	/* background: white;
	color: black;
	border-bottom: 2px solid #fff; */
}
/*.navbar-inverse .navbar-nav > li > a:active {
	background-color: #0039e6;
}
*/
.navbar-inverse .navbar-nav .dropdown .dropdown-menu > li > a {
	font-size: 15px;
	color: black;
	/* font-weight: 400; */
  transition: 0.2s;
}

.navbar-inverse .navbar-nav .dropdown .dropdown-menu > li > a:hover {
	color: black;
	background: #e8e8e8;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	/*border-width: 2px;*/
	border-color: #e8e8e8;
}

.nav-icon {
	color: #fff;
	padding-right: 5px;
}

.dropdown-menu {
  width: 600px;
	border-radius: 5px;
}

.genre-item {
  display: inline-block;
  width: 33%;
	cursor: pointer;
}

#nav-search {
  line-height: 50px;
  height: 100%;
  margin-right: 15px;
	margin-left: 15px;
}

@media screen and (min-width: 240px) {
	#project-btn {
		line-height: 50px;
		margin-left: 15px;
	}
	#search-form {
    width: 100%;
  }
  /*#search-form input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }*/

}

@media screen and (min-width: 768px) {
	#project-btn {
		line-height: 50px;
		margin-left: 0;
	}
	#search-form {
    width: 100%;
  }
}

.hint-form {
	background: white;
	z-index: 1000;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	margin-top: -5px;
	text-align: left;
}

.hint-form-header div {
	border-bottom: 1px solid #e8e8e8;
}

.hint-form-header div h4 {
	font-weight: bold;
	font-size: 16px;
}

.hint-form-story {
	border-bottom: 1px solid #e8e8e8;
	height: 90px;
}

.hint-form-story:hover {
	background: #f2f2f2;
}

.hint-form-left img {
	height: 60px;
	width: 40px;
	text-align: center;
	padding: 0;
}

.hint-form-right {
	padding-top: 35px;
	line-height: normal;
}

.hint-form-right span {
	font-size: 16px;
	color: #993333;
	font-weight: bold;
}

.hint-form-footer {
	height: 50px;
	line-height: 50px;
	text-align: center;
}

#nav-login img {
	width: 25px;
	height: 25px;
	border-radius: 10px;
}

.profile-menu {
	padding: 0;
	text-align: left;
	list-style: none;
}

.profile-menu li {
	padding: 0;
}

.profile-menu li a {
		color: #737373;
		font-size: 15px;
		letter-spacing: -0.5px;
}

.btn-login {
	cursor: pointer;
}

.nav-login span {
	font-size: 16px;
}

.nav-login img {
	width: 23px;
	height: 23px;
	border-radius: 100%;
	padding: 0;
	margin-left: 5px;
}

.login-dropdown {
	width: 150px;
}

.login-dropdown li {
	cursor: pointer;
}

#login-form {
  z-index: 1000;
}

.user-avatar {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	margin-right: 10px;
}

.user-dropdown {
	width: 200px;
}

.user-dropdown a {
	cursor: pointer;
}

.list-dropdown {
	width: 150px;
}
.sub-route {
	padding-top: 7px;
	width : 400px !important;
	height : 50px !important;
	font-size : 10px;
}
.sub-route a {
	color : white;
}
.sub-route a:hover {
	color : white;
}
#btn-index-sidebar {
	width: 16px;
	height: 16px;
	color: #999999;
}
#btn-index-sidebar:hover {
	color: #333;
}
.header-noti-a {
	white-space: normal!important;
}
.header-noti-label {
	position: absolute;
	top: 9px;
	right: 7px;
	text-align: center;
	font-size: 9px;
	padding: 2px 3px;
	line-height: .9;
}
.header-noti-footer a {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	font-size: 12px;
	background-color: #fff;
	padding: 7px 10px;
	border-bottom: 1px solid #eeeeee;
	color: #444 !important;
	text-align: center;
}