body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Lato,'Helvetica Neue',Helvetica,sans-serif !important;
	background: #fff!important;
}
a {
  cursor: pointer;
}

.App {

}

.border {
  border: 1px solid black;
}
.push {
  margin-top: 90px;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.display-inline {
  display: inline-block!important;
}
.width-100 {
  width: 100%!important;
}
.width-90 {
  width: 90%!important;
}
.width-70 {
  width: 70%!important;
}
.padding-none {
  padding: 0;
}
.padding-25 {
  padding: 25px!important;
}
.padding-left-30 {
  padding-left: 30px;
}
.padding-top-10 {
  padding-top: 10px!important;
}
.padding-top-15 {
  padding-top: 15px!important;
}
.padding-top-20 {
  padding-top: 20px!important;
}
.padding-top-25 {
  padding-top: 25px!important;
}
.padding-top-50 {
  padding-top: 50px!important;
}
.border-right {
  border-right: 1px solid #e8e8e8;
}
.margin-top-10 {
  margin-top: 10px!important;
}
.margin-left-4 {
  margin-left: 4px;
  margin-right: -4px;
}
.margin-left-5 {
  margin-left: 5px!important;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-btm-5 {
  margin-bottom: 5px!important;
}
.margin-btm-30 {
  margin-bottom: 30px!important;
}
.margin-btm-10 {
  margin-bottom: 10px!important;
}
.margin-btm-20 {
  margin-bottom: 20px!important;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.weight-normal {
  font-weight: normal!important;
}
.line-height-20 {
  line-height: 20px!important;
}
.float-right {
  float: right;
}
.position-absolute {
  position: absolute;
}
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.fontSize14 {
  font-size: 14px;
  line-height: 21px;
}

.colorGray8 {
  color: #888;
}
.color-black {
  color: black;
}
.bgGray {
  background-color: #f9f9fa;
}
.bgWhite {
  background-color: white;
}

.mgRight14 {
  margin-right: 14px;
}
.mgBottom28 {
  margin-bottom: 28px;
}
.pullTop14 {
  margin-right: -14px;
}

.padLeft14 {
  padding-left: 14px;
}
.padRight14 {
  padding-right: 14px;
}
.padLeft28 {
  padding-left: 28px;
}
.padRight28 {
  padding-right: 28px;
}
.padTop14 {
  padding-top: 14px;
}
.padTop24 {
  padding-top: 24px;
}
.padBottom24 {
  padding-bottom: 24px;
}

.borderTopBottom {
  border-top: 1px solid #e7e9eb;
  /*border-bottom: 1px solid #e7e9eb;*/
}

.uppercase {
  text-transform: uppercase;
}
@media screen and (min-width: 240px) {
  #indexSideNav {
    margin-top: -7px;
    background-color: #4D394B;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  #indexSideNav {
    margin-top: 55px;
    background-color: #4D394B;

  }
}
.position-fixed {
  position: absolute!important;
  z-index: 999!important;
}

/*main .container-fluid {
  background-color: #F0F0F0;
}*/

.card {
  margin-bottom : 20px;
}

.modal-title {
  font-size: 1.25em !important;
}
.UserAvatar {
  display: inline-block;
}

.icon-active {
  border-radius: 5px;
  border: 2px solid #F05707;
}