.list-wrapper {
  margin-bottom: 50px;
	margin-bottom: 20px;
	background: white;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	padding: 20px;
}
.list-header {
  margin-bottom: 30px;
}
.list-header a{
  color: black;
}

@media screen and (min-width: 240px) {
  .list-image {
    width: 50%;
    height: 70px;
  }
}
@media screen and (min-width: 768px) {
  .list-image {
    width: 120px;
    height: 70px;
  }
}


.list-description-info span{
  margin-right: 10px;
}
