.margin-top {
	margin-top:  50px;
}

.org-classification {
	text-align:  center;
	margin-bottom: 10px;
}
.org-classification select {
	margin: 10px;
}

.list-org{
	list-style: none;
}
.list-org.row {
max-width: 100%;
}
.list-org li {
	text-align: center;
	margin-bottom: 10px;
}
.org {
	position: relative;
	text-align: center;
	background-color: white;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.img-box {
	line-height: 10;
	text-align: center;
	height: 140px;
	width: 220px;
	display: inline-block;
	max-width: 100%;
}
.img-box img {
	width: 100%;
	height: auto;
	max-height: 100%;
}
.badge-org {
	position: absolute;
	top: -5px;
	right: -5px;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 2;
	background-color: #14b1bb;
	color: white;
	font-weight: bold;

}
.org-information {
	border-radius: 10px;
	border : 1px inset;
}
.org-information:hover {
	border :1px solid;
}
.org-name {
	font-size: 20px;
	font-weight: bolder;
}
.org-information a {
	display: block;
	margin-top: 5px;
}