.list-item {
  border: 1px solid #e7e7e7;
  border-bottom: 0;
  border-radius: 3px;
  margin-bottom: 20px;
}
.list-item a {
  background: #f8f8f8;
  border-bottom: 1px solid #14b1bb;
  color: #888;
  display: block;
  padding: 15px 0;
  position: relative;
  width: 100%
}
.list-item-data i{
  margin-right: 10px;
  color: #14b1bb;
}
.spinner-center {
  margin: 0 auto;
  text-align: center;
}
.spinner-container {
  margin-top: 20px;
}
