/* .carousel-inner {
    height: 780px;
}

.carousel-inner .item img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 780px !important;
} */

/* Smaller than standard 960 (devices and browsers) */
/* @media only screen and (min-width: 1101px) and (max-width: 1250px) {
    .carousel-inner {
        height: 670px;
    }

    .carousel-inner .item img {
        max-height: 670px;
    }
} */

/* Smaller than standard 960 (devices and browsers) */
/* @media only screen and (min-width: 959px) and (max-width: 1100px) {
    .carousel-inner {
        height: 620px;
    }

    .carousel-inner .item img {
        max-height: 620px;
    }
} */

/* Tablet Portrait size to standard 960 (devices and browsers) */
/* @media only screen and (min-width: 794px) and (max-width: 959px) {
    .carousel-inner {
        height: 500px;
    }

    .carousel-inner .item img {
        max-height: 500px;
    }
} */

/* All Mobile Sizes (devices and browser) */
/* @media only screen and (min-width: 751px) and (max-width: 793px) {
    .carousel-inner {
        height: 450px;
    }

    .carousel-inner .item img {
        max-height: 450px;
    }
} */

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* @media only screen and (min-width: 651px) and (max-width: 750px) {
    .carousel-inner {
        height: 408px;
    }

    .carousel-inner .item img {
        max-height: 408px;
    }
} */

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* @media only screen and (min-width: 561px) and (max-width: 650px) {
    .carousel-inner {
        height: 350px;
    }

    .carousel-inner .item img {
        max-height: 350px;
    }
} */

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* @media only screen and (min-width: 480px) and (max-width: 560px) {
    .carousel-inner {
        height: 300px;
    }

    .carousel-inner .item img {
        max-height: 300px;
    }
} */

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* @media only screen and (max-width: 479px) {
    .carousel-inner {
        height: 200px;
    }

    .carousel-inner .item img {
        max-height: 200px;
    }
} */

/* .carousel-inner {
    width: 100%;
}

@media only screen and (min-width: 1101px) and (max-width: 1250px) {
    .carousel-inner {
        max-height: 700px !important;
    }
}

@media only screen and (min-width: 959px) and (max-width: 1100px) {
    .carousel-inner {
        max-height: 650px !important;
    }
}

@media only screen and (min-width: 794px) and (max-width: 959px) {
    .carousel-inner {
        max-height: 600px !important;
    }
}

@media only screen and (min-width: 751px) and (max-width: 793px) {
    .carousel-inner {
        max-height: 550px !important;
    }
}

@media only screen and (min-width: 651px) and (max-width: 750px) {
    .carousel-inner {
        max-height: 500px !important;
    }
}

@media only screen and (min-width: 561px) and (max-width: 650px) {
    .carousel-inner {
        max-height: 450px !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 560px) {
    .carousel-inner {
        max-height: 400px !important;
    }
}

@media only screen and (max-width: 479px) {
    .carousel-inner {
        max-height: 350px !important;
    }
} */

.carousel-control {
    width: 10% !important;
}

.carousel-caption {
    top: 30%;
}

.carousel-caption h2 {
    color: #fff;
    margin: 0;
    font-size: 60px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    margin-bottom: 0 !important;
}

.carousel-caption h2::after {
    display: none;
}

.carousel-caption h3 {
    color: #14b1bb;
    font-size: 18px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
}

.carousel-caption p {
    margin: 40px 0 0;
    text-transform: uppercase;
}

.carousel-caption p a {
    border: 2px solid #fff;
}

.carousel-indicators li, .carousel-indicators .active {
    width: 16px;
    height: 16px;
    margin: 3px;
}

@media only screen and (min-width: 1200px) {
    .carousel-caption h2 {
        font-size: 80px;
    }
}

@media only screen and (max-width: 991px) {
    .carousel-caption h2 {
        font-size: 44px;
    }
}

@media only screen and (max-width: 767px) {
    .carousel-caption h2 {
        font-size: 36px;
        margin-bottom: 5px;
    }

    .carousel-caption {
        top: 25%;
    }
}

@media only screen and (max-width: 480px) {
    .carousel-caption h2 {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .carousel-caption h3 {
        font-size: 14px;
    }

    .carousel-caption {
        top: 10%;
    }
}