.submit-news {
  width : 100%;
}

.title-page-news {
  font-size: 30px;
  font-weight: bold;
  color : #2185d0;
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: 20px;
  padding-top :50px;
  padding-left: 20px;
}
.no-news-box-msg {
  border-radius: 5px;
  background-color: grey;
  color : white;
  font-size : 25px;
  text-align: center;
  height : 100px;
  padding-top: 40px;
  padding-bottom: 30px;
  width : 100%;
}
.news .label-new {
  font-size: 11px;
  font-weight: bold;
  background: #f76d22;
  color: #FFF;
  padding: 1px 4px 0 4px;
  margin-left: 5px;
  border-radius: 2px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 14px;
}
.news {
  background-color: #F5F5F5;
  padding-left: 16% !important;
  padding-right: 16% !important;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}
.news .news-content-container {
  margin: 0 !important;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(160, 160, 160, 0.45);
  padding-bottom: 50px;
}
.news .container {
  background-color: white !important;
  box-shadow: 0px 1px 5px rgba(160, 160, 160, 0.45);
}
.news .row {
  margin : 0 !important;
}
.news-box {
  width : 100%;
  padding : 20px;
  border-bottom: 1px solid #EDEDED;
  clear: both;
  position: relative;
}
.news-title {
  font-weight: bold;
  font-size : 18px;
}

.news-author {
  padding-top: 10px;
}
.news .author-name {
  padding-left: 10px;
  padding-right: 5px;
  font-style: italic;
}
.news-box-info {
  padding : 10px;
  font-size: 14px;
  background-color: #F1F1F1;
  margin: 8px 0 10px;
  border-radius: 2px;
}
.news-place {
  padding-left: 5px;
  padding-right: 5px;
}

.news-field {
  padding-left: 5px;
  padding-right: 5px;
}

.news-max-salary {
  padding-left: 5px;
  padding-right: 5px;
}
.news-box-desc {
  height : 100px;
  padding-top: 10px;
}
.news-thumbnail {
  width : 200px;
  height : 180px;
  border-radius: 3px;
}
.news-info {
  padding-left: 35px;
  padding-right: 15px;
}
