* {
    box-sizing: border-box;
}
#content {
	font-family: 'Roboto Slab', serif;
	font-size: 17px;
}
#content h3 {
	font-size: 25px;
	font-family: 'Arima Madurai', cursive;
}
/*Header section */
.company-intro {
	margin-left: -15px;
	margin-right: -15px;
}
.company-info{
	margin-top: 10px;
	border-top: 1px solid #00b9f2;
	border-bottom: 1px solid #00b9f2;
	background-color: white;
	margin-bottom: 10px;
	text-align: center;
}
.info-wrapper {
	margin: 10px 0 10px 0;
	width: 100%;
	/*text-align: center;*/
}
.company-name-slogan {
	display: inline-block;
	width: 60%;
	vertical-align: middle;
	/*text-align: right;*/
}
.company-name-slogan h3 {
	padding-top: 20px; 
}
.company-name-slogan h4 {
	margin-top: 0;
}
.company-logo{
	display: inline-block;
	width: 40%;
	text-align: left;
	vertical-align: middle;
	padding-left: 10px;
}
.company-logo img{
	padding: 5px;
	width: 200px;
	max-height: 100%;
	height: auto;
	/*border-radius: 20px;
	border: 1px solid blue;*/
}


.title-underline {
	display: block;
	height: 2px;
	width: 100px;
	background-color: red;
	margin: auto;
}
.org-item {
	display: block;
	margin-left: 10px;
	text-align: center;
	margin-bottom: 15px;
	margin-top: -5px;
}
.company-nav ul {
	list-style-type: none;
	text-align: center;
}
.company-nav ul>li{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 250px;
	font-size: 20px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-radius: 10px;
}
.company-nav a {
	text-decoration: none;
	width: 100%;
	height: 100%;
	padding: 10px;
	display: inline-block;

}
.company-nav ul>li:hover {
	background-color: #BBBBBB;
}

.company-intro .title-underline {
	width: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
}



/*	Phần content phía dưới */


/*MISSON AND VISION SECTION */

#intro-mission-vision .row {
	border-radius: 10px;
	background-color: white;
	margin-bottom: 10px;
}

.introduction {
	padding: 20px;
	font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mission-vision{
	padding: 15px;
	text-align: center;
}
.img-wrapper {
	width: 247.5px;
	height: 170px;
	position: relative;
	overflow: hidden;
	max-width: 100%;
	border-radius: 10px;
	display: inline-block;
}
.mission-vision img {
	border-radius: 10px;
	position: absolute;
	width: 100%;
	height: auto;
	min-height: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.mission-vision img:hover {
	width: 200%;
	height: auto;
}


/*Gallery*/

.pre-title {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.title {
	display: inline-block;
	border-radius: 30px;
	padding: 10px;
	border : 1px solid #00b9f2;
}
.image-show {
	/*background-color: white;*/
	/*margin: 10px -15px 10px -15px;
	padding: 10px;*/
	border-radius: 10px;
}
.box-image {
	position: relative;
	padding: 0 15px;
	font-size: 14px;
}
.box-image:before {
	content: '';
	display: block;
}
.box-image.ratio-16-9:before{
	padding-top: 56.5%;
}
.absolute-class {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	margin: 10px 0;
}
.box-image img {
	padding: 0 10px 10px 10px;
	position: absolute;
	width: 100%;
	height: auto;
	top: 50%;
	left: 50%;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: translate(-50%, -50%) scale(1);
	-ms-transform: translate(-50%, -50%) scale(1);
	-o-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
}
.box-image:hover img {
	-webkit-transform: translate(-50%, -50%) scale(1.1);
	-ms-transform: translate(-50%, -50%) scale(1.1);
	-o-transform: translate(-50%, -50%) scale(1.1);
	transform: translate(-50%, -50%) scale(1.1);
}
.absolute-class h3 {
	font-family: 'Lobster', cursive;
	padding: 10px;
	border-top: 1px solid #00b9f2;
	border-bottom: 1px solid #00b9f2;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.video-content {
	background-color: wheat;
	border-radius: 10px;
}
.video-content h3 {
	font-family: "Lucida Sans", sans-seriff ;
	color: #00b9f2;
	font-size: 20px;
}

.video-intro {
	padding: 20px;
}
.video-intro h3{
	font-family: 'Pattaya', sans-serif;
}
.video-illustration {
	padding: 20px;
}

.video-illustration iframe {
	width: 100%;
	height: 411px;
}
/*KẾT THÚC GALLERY*/

/*PRODUCT - SERVICE*/
.product-show{
	text-align: center;
}
.product-show .row {
	margin-bottom: 20px;
}
.product-img {
	margin:auto;
	width: 50%;
	height: 150px;
	overflow: hidden;
	 box-shadow: 0 5px 8px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 5px 8px 1px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 5px 8px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	margin-bottom:20px;
}
.product-img img {
	width: 100%;
	height: auto;
	min-height: 100%;

}
.img-zoom {
	margin-bottom: 30px;
}
.img-zoom a {
	display: block;
}
.img-zoom:hover .product-img{
	transform: translate3d(0px, -6px, 0px);
	-webkit-transform: stranslate3d(0px, -6px, 0px);
	-ms-transform:translate3d(0px, -6px, 0px);
	-o-transform:translate3d(0px, -6px, 0px);
	box-shadow:0 18px 45px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 18px 45px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 18px 45px 0 rgba(0, 0, 0, 0.15);
}
.product-name {
	font-family: 'Lobster', cursive;
	font-weight: bolder;
	font-size: 20px;
	margin-bottom: 10px;
}



/*PEOPLE */
.people-content {
	text-align: center;
}
.people-img {
	display: inline-block;
	width: 150px;
	border-radius: 50%;
	height: 150px;
	overflow: hidden;
}
.people-img img {
	width: 100%;
	height: auto;
	min-height: 100%;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.img-zoom:hover .people-img img {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.people-description{
	font-size: 15px;
	margin-top: 10px;
}
.people-description .position {
	color: #2991d6;
	font-style: italic;
}
.people-description p:first-child {
	font-weight: bold;
}
.people-contact {
	display: none;
	margin: 15px;
}
.people-contact div {
	margin: 10px 0;
}
.people-contact .button {
	border-radius: 5px;
	font-size: 17px;
	color: #FFF;
	padding: 5px;
	background-color: #4CAF50;
}
.people-contact .button:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.people-contact .fa {
	padding: 5px;
  	font-size: 25px;
  	width: 40px;
  	text-align: center;
  	text-decoration: none;
  	margin: 5px;
  	background-color: #a3a3a3;
  	border-radius: 15px;
}
.people-contact .fa-facebook , .people-contact .fa-google-plus {
  	color: white;
  	transition: transform 1.5s;
}
.people-contact .fa-facebook:hover {
	background: #3B5998;
	border-radius: 15px;
	-webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
}
.people-contact .fa-google-plus:hover {
	background: #dd4b39;
	border-radius: 15px;
	-webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
}

/*EVENT */
.event-time {
	width: 50px;
	height: 80px;
	border: 1px solid #A9A9A9;
	background: #DCDCDC;
	text-align: center;
	border-radius: 10px;
	padding: 10px;
	margin: 0 15px 0 0;	
}
.event-time .day {
	font-weight: bold;
	font-size: 18px;
}
.event-time .month {
	font-size: 16px;
}
.event-time .year {
	font-size: 14px;
}
.event-title {
	font-weight: bolder;
	font-size: 18px;
}
.hour {
	font-weight: bold;
}
#event tr {
	background-color: white;
}
#event tr:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*recruit*/
#recruit table th, table td {
	text-align: left;
	padding: 10px;
	font-size: 15px;
}
#recruit table tr:nth-child(odd){
	border-bottom: 1px solid black;
}
#recruit table tr:nth-child(1){
	background-color: white;
}
#recruit table tr:first-child , #recruit table tr:last-child{
	border-bottom:  none;
}
#recruit table a {
	text-decoration:  none;
	font-weight: bold;
	color: #C4120F;
}
#recruit table a:hover {
	text-decoration: underline;
}
.job-search ul {
	list-style-type: none;
}
.job-search ul li input{
	margin-right: 10px;
}
/*CONTACT */
#contact {
	margin-top: 10px;
}
#contact .row {
	background-color: #DCDCDC;
	border: 1px solid;
	border-radius: 10px;
	padding: 10px; 
}
.contact-title {
	font-weight: bold;
	font-size: 20px;
	font-family: "Palatino Linotype";
}
.contact-social {
	/*text-align: center;*/
}
.contact-icon  {
	margin-top: 20px;
	margin-bottom: 20px;
}
.contact-icon a {
	width: 35px;
	padding: 10px;
	border: 1px solid #A9A9A9;
	border-radius: 5px;
	margin-right: 10px;
}
.contact-icon a:hover.fa{
	color: red;
}
.contact-icon a:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.contact-info {
	margin-top: 20px;
	font-size: 15px;
}
.contact-info span {
	margin-right: 10px;
}
.contact-info div{
	margin-bottom: 10px;
}


@media only screen and (max-width: 768px) {
    .col-4 { 

        display: block;
        width: 100%;
        margin-top: 10px; 

    }
    .box-illustration iframe {
    	width: 100%;
    	height: auto;
    }
    .company-banner {
		height: 300px;
    }

}
@media only screen and (max-width: 600px) {
    .company-name-slogan {
    	display: block;
    	width: 100%;
    }
    .company-logo{
    	display: block;
    	width: 100%;
    	text-align: center;
    }
    .company-banner {
    	height: 200px;
    }

}
.company-contact {
	height: 100px;
	background-color: #00b9f2;
}

#recruitment {
	padding: 10px;
	background: white;
	margin: 10px -15px;
	border-radius: 10px;
}
#recruitment .row {
	padding: 10px;
}
.recruitment {
	width: 70%;
}
.recruitment tr {
	border-bottom: 1px solid;
}
.recruitment td {
	text-align: center;
}
.recruitment p {
	margin-bottom: 5px;
	text-align: center;
}
.recruitment .fa {
	color: blue;
}
.job-time {
	min-width: 10px;
	padding: 3px 7px;
	display: inline-block;
	border-radius: 10px;
	color: white;
	font-size: 12px;
	font-weight: bold;
}

.full {
	background: #6ecf26;
}
.part {
	background: #d41a2a;
}
.org-filter {
	display: inline-block;
	width: 30%;
}
.org-filter ul {
	list-style: none;
}

/*Comment*/
.org-comment {
	margin: 10px 0;
	width: 100%;
}
.org-comment input{
	width: 100%;
	height: 30px;
	margin: 5px 0;
	border: 1px solid #e5e5e5;
	padding: 15px 20px;
	font-size: 16px;
	border-radius: 5px;
}
input.comment-file {
	width: 100%;
	height: 30px;
	border: none;
	padding: 0;
	margin :0;
	font-size: 16px;
}
.org-comment textarea {
	width: 100%;
	margin: 5px 0;
	border: 1px solid #e5e5e5;
	padding: 15px 20px;
	max-width: 100%;
	height: 60px;
	border-radius: 5px;
}
.org-title {
	letter-spacing: -0.05em;
	margin: 0;
	text-transform: uppercase;
	font-size: 48px;
}
.org-strongPoints {
	padding: 11.5px 23px;
	margin: 0 0 23px;
	font-size: 17.5px;
	border-left: 5px solid #ccc;
}
.org-share {
	display: table;
	list-style: none;
	margin: 3em 0;
	padding: 0;
	width: 100%;
}
.org-share li {
	float: left;
	margin-right: 5px;
}
.org-share li a {
	color: #14b1bb;
}
.org-vision {
	margin-bottom: 10px;
}
.org-share li h5 {
	margin: 7px 10px 0 0;
	color: black;
	text-transform: uppercase;
	font-size: 14px;
}
.org-tags {
	border-bottom: 1px solid #e7e7e7;
	border-top: 1px solid #e7e7e7;
	display: table;
	list-style: none;
	margin: 3em 0;
	padding: 10px 0;
	width: 100%;
}
.org-tags li {
	float: left;
	margin-right: 15px;
}
.org-tags li a {
	color: #14b1bb;
  text-decoration: none;
}
.organization-sidebar  h5{
  font-family: "Montserrat",Arial;
  margin: 1em 0 2em;
  text-transform: uppercase;
	font-size: 14px;
}
.sidebar-links {
	margin-bottom: 50px;
}
.sidebar-links ul {
	list-style: none;
  margin: 0;
  padding: 0;	
}
.sidebar-links li a {
	color: #14b1bb;
	text-decoration: none;
	cursor: pointer;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	border-bottom: 1px solid #e7e7e7;
	display: block;
	padding: 10px 10px 10px 25px;
}
.sidebar-links li a:hover {
	color: #0c6d73;	
}
.sidebar-links li a span {
	display: block;
	color: #888;
	margin: 0;
}
.fa-stack {
	color: #14b1bb
}
