.recruitment-data {
  color: #888;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  clear: both;
  margin: 15px 0;
  padding: 10px 0px;
}
.recruitment-data span {
  display: block;
  padding: 3px 20px 3px 0;
}
.recruitment-data i {
  margin-right: 10px;
}
.recruitment-data .city i {
  color: #14b1bb;
}
.recruitment-data .job-type i {
  color: #6ecf26;
}
.recruitment-data .salary i {
  color: #14b1bb;
}
.recruitment-data .slot i {
  color: #6ecf26;
}
.recruitment-data .receive-CV-time i {
  color: red;
}
.recruitment-content, .recruitment-benefit, .recruitment-company-content{
  font-size: 15px;
  line-height: 25px;
}
.recruitment-footer {
  margin-bottom: 20px;
}
.recruitment-apply-btn {
  background: #14b1bb!important;
  color: #fff!important;
  font-weight: normal!important;
}
.recruitment-img-responsive {
  max-width: 100%;
  height: 200px;

}
.recruitment-attribute span {
  color: #888;
  margin-right: 15px;
}
.recruitment-attribute i {
  margin-right: 2px;
}
.public-recruitment-icon {
  cursor: pointer;
}
.public-recruitment-icon:hover {
  color: #000;
  transition: 0.2s;
}