.recuit-detail {
  font-family: 'Roboto';
  background-color: #f5f5f5;

}
.recuit-detail .eleven {
  padding-right: 25px !important;
  padding-top : 50px !important;
  padding-bottom: 100px !important;
}
.recuit-detail .recuit-title {
  font-size : 25px;
  background-color: #3bc293;
  color : white;
  padding : 10px;
  padding-top: 15px;
  display: inline-block;
  border-radius: 2px;
}
.recuit-detail .profession {
  font-weight: bold;
}
.recuit-detail .ask-profession {
  font-style: italic;
}
.recuit-detail .add-profession-link {
  cursor: pointer;
  color : #4bec13;
}

.recuit-detail .button-interact {
  padding-top : 50px;
}
.recuit-content .recuit-label {
    background-color: #00abd2;
    font-size: 12px;
    padding: 3px 4px 1px;
    letter-spacing: -0.03em;
    font-weight: 700;
    color : white;
    border-radius: 2px;
    margin-left: 15px;
}
.recuiter-info {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  padding : 20px;
}
.recuit-detail .five {
  padding-top : 50px !important;
}
.recuiter-title {
  font-size : 18px;
  font-weight: bold;
  padding-bottom: 20px;
}
.recuit-detail .td-title {
  width: 100px;
  color: #aaa;
  font-weight: normal;
  text-align: left;
}
.recuit-table-info {
  margin-bottom: 20px;
}
.recuit-detail .user-name span {
  cursor: pointer;
  padding-left: 10px;
  color : #003300;
  font-weight: bold;
}
.recuit-detail .list-profession {
  margin-bottom: 20px;
}

.events .events-box {
  margin-bottom: 20px;
}
