/* #custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.search-bar {
  text-align: center;
}


.search-wrapper label.btn span {
  font-size: 1.5em ;
}

::-moz-selection {
 background: white;
}

::selection { background: white; }
 @-webkit-keyframes
icon-beat {  0% {
 -webkit-transform: scale(2);
 -ms-transform: scale(2);
 transform: scale(2);
}
 100% {
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 transform: scale(1);
}
}
 @keyframes
icon-beat {  0% {
 -webkit-transform: scale(2);
 -ms-transform: scale(2);
 transform: scale(2);
}
 100% {
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 transform: scale(1);
}
}

* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

body {
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font: normal 200 14px/1.5rem "Roboto", "Helvetica Neue", sans-serif;
  color: #666;
}

.search-wrapper h2 {
  font-size: 1rem;
  color: #444;
  margin: 0;
}

.search-wrapper h2 small {
 font-size: .8rem;
  color: #a2a2a2;
  display: block;
  font-weight: normal;
}

.search-wrapper label {
  display: block;
  position: relative;
  padding: 0.5rem 1rem;
  line-height: 28px;
  font-weight: normal;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.search-wrapper label:last-of-type { margin-right: 1rem; }

.search-wrapper label i {
  display: inline-block;
  height: 25px;
  position: relative;
  top: 6px;
  font-style: normal;
  color: #ccc;
}

.search-wrapper label span {
  display: inline-block;
  margin-left: 5px;
  line-height: 25px;
  color: gray;
}

.search-wrapper input[type="radio"],
.search-wrapper input[type="checkbox"] { display: none; }

.search-wrapper input[type="radio"] + i:before,
.search-wrapper input[type="checkbox"] + i:before {
  font-family: 'FontAwesome';
  font-size: 28px;
  height: 25px;
  width: 25px;
  display: inline-block;
}

.search-wrapper input[type="radio"]:checked + i,
.search-wrapper input[type="checkbox"]:checked + i {
  position: relative;
  -webkit-animation: icon-beat 0.1s ease;
  animation: icon-beat 0.1s ease;
}

input[type="radio"]:checked + i + span,
input[type="checkbox"]:checked + i + span {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

input[type="radio"] + i:before { content: "\f10c"; }

input[type="radio"]:checked + i:before { content: "\f111"; }

input[type="radio"]:checked + i + span,
input[type="radio"]:checked + i:before { color: rgba(0, 128, 128, 0.5); }

input[type="checkbox"] + i:before { content: "\f096"; }

input[type="checkbox"]:checked + i:before { content: "\f046"; }

input[type="checkbox"]:checked + i + span,
input[type="checkbox"]:checked + i:before { color: rgba(0, 128, 0, 0.5); }

.form-horizontal,
.form-vertical {
  padding: 2rem;
  margin: 1rem;
  float: left;
  clear: both;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.form-horizontal h2 { margin-bottom: 0.5rem; }

.form-horizontal label { float: left; }

.form-horizontal label:first-of-type { padding-left: 0; }

.form-horizontal:after,
.form-horizontal:before {
  display: table;
  content: " ";
}

.form-horizontal:after { clear: both; }

.form-vertical label {
  float: none;
  padding-left: 0;
}

.form-vertical label:first-of-type { padding-top: 1rem; }

.filter {
  text-align: center;
}

.search-wrapper label {
  display: inline-block !important;
}
.first-result-row {
  border-top : 1px solid grey;
  border-bottom : 1px solid grey;
  height : 200px;
  margin-bottom: 5px;
}
.result-row {
  border-bottom : 1px solid grey;
  height : 200px;
  margin-bottom: 20px;
}

.thumbnail-item {
  height : 200px;
}
.thumbnail-search {
  width : 100%;
  height : 195px;
}

.project-name {
  font-weight: bold;
  font-size : 25px;
  color : #005b96;
  padding-top : 20px;
}

.project-author {
  font-style: italic;
  text-decoration: underline;
  font-size: 18px;
  padding-top : 10px;
  color :#e5e4e4;
}
.project-description {
  padding-top :10px;
  font-size : 20px;
}

.result-item-search {
  padding : 10px;
}
.item-thumbnail-container {
  position: relative;
}
.item-thumbnail {
  width: 100%;
  height : 270px;
  border-radius: 10px 10px 0px 0px;
}
.menu-item-name {
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  font-size : 13px;
  height : 35px;
  color : white;
  text-align: center;
  padding-top : 8px;
  padding-bottom: 7px;
  font-family: 'Source Sans Pro', 'sans-serif' !important;
  font-weight: 700;
  width: 100%;
  background-color: rgba(255, 121, 44, 0.7)
}
.name_item {
  font-family: Arial;
  font-size: 30px;
  vertical-align: middle;
}
.menu-item-desc {
  font-size : 11px;
  font-family: 'Source Sans Pro', 'sans-serif' !important;
  height: 13px;
  color: #5B5B5B;
  background-color: #EBEBEB;
  height : 35px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
}
.variants-container {
  width : 100%;
  height : 75px;
  border-radius: 0px 0px 5px 5px;
  margin : 0 !important;
}

.item-box-content {
  border : 1px solid #8b848e;
  border-radius: 10px;
}

.label-result {
  font-weight: bold;
  font-size : 30px;
  padding-top : 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #8b848e;
  margin-bottom: 20px;
}


.snip1336 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: black;
  text-align: left;
  line-height: 1.4em;
  background-color: white;
  border : 1px solid black;
}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1336 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}
.snip1336 figcaption {
  width: 100%;
  background-color: white;
  padding: 25px;
  position: relative;
}
.snip1336 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent white;
}
.snip1336 figcaption a {
  padding: 5px;
  border: 1px solid black;
  color: black;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.snip1336 .follow {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
.snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 300;
}
.snip1336 h2 span {
  display: block;
  font-size: 0.5em;
  color: #2980b9;
}
.snip1336 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
} */
