/**
 * CoreUI - Open Source Bootstrap Admin Template
 * @version v1.0.0-alpha.4
 * @link http://coreui.io
 * Copyright (c) 2017 creativeLabs Łukasz Holeczek
 * @license MIT
 */
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
.usercms-detail {
  overflow: hidden;
  overflow-y: auto;
  min-height: auto;
}

.user-navbar {
  position: relative!important;
}

/*.user-navbar .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0;
  margin: 0.125rem 0 0;
  font-size: 0.875rem;
  color: #263238;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #cfd8dc; }

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.25rem;
  clear: both;
  font-weight: normal;
  color: #263238;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0; }
  .dropdown-item:focus, .dropdown-item:hover {
    color: #1c2429;
    text-decoration: none;
    background-color: #eceff1; }
  .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #20a8d8; }
  .dropdown-item.disabled, .dropdown-item:disabled {
    color: #b0bec5;
    background-color: transparent; }

.show > .dropdown-menu {
  display: block; }

.dropdown-menu-right {
  right: 0;
  left: auto; }

.dropdown-menu-left {
  right: auto;
  left: 0; }

.dropdown-header {
  display: block;
  padding: 0 1.5rem;
  margin-bottom: 0;
  font-size: 0.88rem;
  color: black;
  white-space: nowrap; }

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990; }

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.app-header .nav-link, .navbar .ml-auto .dropdown-toggle {
  display: block;
  padding: 0.5rem 1rem; }
  .app-header .nav-link:focus, .app-header .navbar .dropdown-toggle:focus, .app-header .nav-link:hover, .app-header .navbar .dropdown-toggle:hover {
    text-decoration: none; }
  .app-header .nav-link.disabled, .app-header .navbar .disabled.dropdown-toggle {
    color: #b0bec5; }

.nav-pills .nav-link.active, .nav-pills .navbar .active.dropdown-toggle, .navbar .nav-pills .active.dropdown-toggle,
.show .nav-pills .nav-link,
.show .nav-pills .navbar .dropdown-toggle, .navbar
.show .nav-pills .dropdown-toggle {
  color: #fff;
  background-color: #20a8d8; }

/*.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem; }
  .navbar > .container,
  .navbar .user-navbar> .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 575px) {
      .navbar > .container,
      .navbar > .container-fluid {
        width: 100%;
        margin-right: 0;
        margin-left: 0; } }

.user-navbar .navbar-brand {
  display: inline-block;
  padding-top: 0.21875rem;
  padding-bottom: 0.21875rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap; }
  .user-navbar .navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none; }

.navbar-nav .ml-auto {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  .navbar-nav .nav-link, .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-nav .ml-auto .dropdown-toggle {
    padding-right: 0;
    padding-left: 0; }

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent; }
  .navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none; }*/

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #cfd8dc; }

.card-block {
  flex: 1 1 auto;
  padding: 1.25rem; }

.card-title {
  margin-bottom: 0.75rem; }

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0; }

.card-text:last-child {
  margin-bottom: 0; }

.card-link:hover {
  text-decoration: none; }

.card-link + .card-link {
  margin-left: 1.25rem; }

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #eceff1;
  border-bottom: 1px solid #cfd8dc; }

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #eceff1;
  border-top: 1px solid #cfd8dc; }

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0; }

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem; }

.card-primary {
  background-color: #20a8d8;
  border-color: #20a8d8; }
  .card-primary .card-header,
  .card-primary .card-footer {
    background-color: transparent; }

.card-success {
  background-color: #4dbd74;
  border-color: #4dbd74; }
  .card-success .card-header,
  .card-success .card-footer {
    background-color: transparent; }

.card-info {
  background-color: #63c2de;
  border-color: #63c2de; }
  .card-info .card-header,
  .card-info .card-footer {
    background-color: transparent; }

.card-warning {
  background-color: #f8cb00;
  border-color: #f8cb00; }
  .card-warning .card-header,
  .card-warning .card-footer {
    background-color: transparent; }

.card-danger {
  background-color: #f86c6b;
  border-color: #f86c6b; }
  .card-danger .card-header,
  .card-danger .card-footer {
    background-color: transparent; }

.card-outline-primary {
  background-color: transparent;
  border-color: #20a8d8; }
  .card-outline-primary .card-header,
  .card-outline-primary .card-footer {
    background-color: transparent;
    border-color: #20a8d8; }

.card-outline-secondary {
  background-color: transparent;
  border-color: #b0bec5; }
  .card-outline-secondary .card-header,
  .card-outline-secondary .card-footer {
    background-color: transparent;
    border-color: #b0bec5; }

.card-outline-info {
  background-color: transparent;
  border-color: #63c2de; }
  .card-outline-info .card-header,
  .card-outline-info .card-footer {
    background-color: transparent;
    border-color: #63c2de; }

.card-outline-success {
  background-color: transparent;
  border-color: #4dbd74; }
  .card-outline-success .card-header,
  .card-outline-success .card-footer {
    background-color: transparent;
    border-color: #4dbd74; }

.card-outline-warning {
  background-color: transparent;
  border-color: #f8cb00; }
  .card-outline-warning .card-header,
  .card-outline-warning .card-footer {
    background-color: transparent;
    border-color: #f8cb00; }

.card-outline-danger {
  background-color: transparent;
  border-color: #f86c6b; }
  .card-outline-danger .card-header,
  .card-outline-danger .card-footer {
    background-color: transparent;
    border-color: #f86c6b; }

.card-inverse {
  color: rgba(255, 255, 255, 0.65); }
  .card-inverse .card-header,
  .card-inverse .card-footer {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.2); }
  .card-inverse .card-header,
  .card-inverse .card-footer,
  .card-inverse .card-title,
  .card-inverse .card-blockquote {
    color: #fff; }
  .card-inverse .card-link,
  .card-inverse .card-text,
  .card-inverse .card-subtitle,
  .card-inverse .card-blockquote .blockquote-footer {
    color: rgba(255, 255, 255, 0.65); }
  .card-inverse .card-link:focus, .card-inverse .card-link:hover {
    color: #fff; }

.card-blockquote {
  padding: 0;
  margin-bottom: 0;
  border-left: 0; }

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem; }

.card-img {
  width: 100%; }

.card-img-top {
  width: 100%; }

.card-img-bottom {
  width: 100%; }

@media (min-width: 576px) {
  .card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px; }
    .card-deck .card {
      display: flex;
      flex: 1 0 0;
      flex-direction: column;
      margin-right: 15px;
      margin-left: 15px; } }

@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap; }
    .card-group .card {
      flex: 1 0 0; }
      .card-group .card + .card {
        margin-left: 0;
        border-left: 0; } }

.card-columns .card {
  margin-bottom: 0.75rem; }

@media (min-width: 576px) {
  .card-columns {
    column-count: 3;
    column-gap: 1.25rem; }
    .card-columns .card {
      display: inline-block;
      width: 100%; } }

.breadcrumb {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #fff;
  border-radius: 0!important; }
  .breadcrumb::after {
    display: block;
    clear: both;
    content: ""; }

.breadcrumb-item {
  float: left; }
  .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #b0bec5;
    content: "/"; }
  .breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: underline; }
  .breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none; }
  .breadcrumb-item.active {
    color: #b0bec5; }

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline; }
  .badge:empty {
    display: none; }

.btn .badge {
  position: relative;
  top: -1px; }

a.badge:focus, a.badge:hover {
  color: #fff;
  text-decoration: none; }

.badge-default {
  background-color: #b0bec5; }
  .badge-default[href]:focus, .badge-default[href]:hover {
    background-color: #93a6af; }

.badge-primary {
  background-color: #20a8d8; }
  .badge-primary[href]:focus, .badge-primary[href]:hover {
    background-color: #1985ac; }

.badge-success {
  background-color: #4dbd74; }
  .badge-success[href]:focus, .badge-success[href]:hover {
    background-color: #3a9d5d; }

.badge-info {
  background-color: #63c2de; }
  .badge-info[href]:focus, .badge-info[href]:hover {
    background-color: #39b2d5; }

.badge-warning {
  background-color: #f8cb00; }
  .badge-warning[href]:focus, .badge-warning[href]:hover {
    background-color: #c5a100; }

.badge-danger {
  background-color: #f86c6b; }
  .badge-danger[href]:focus, .badge-danger[href]:hover {
    background-color: #f63c3a; }

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important; }
  .d-lg-inline {
    display: inline !important; }
  .d-lg-inline-block {
    display: inline-block !important; }
  .d-lg-block {
    display: block !important; }
  .d-lg-table {
    display: table !important; }
  .d-lg-table-cell {
    display: table-cell !important; }
  .d-lg-flex {
    display: flex !important; }
  .d-lg-inline-flex {
    display: inline-flex !important; } }

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important; }

.ml-auto {
  margin-left: auto !important; }

.text-justify {
  text-align: justify !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important; }
  .text-sm-right {
    text-align: right !important; }
  .text-sm-center {
    text-align: center !important; } }

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important; }
  .text-md-right {
    text-align: right !important; }
  .text-md-center {
    text-align: center !important; } }

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important; }
  .text-lg-right {
    text-align: right !important; }
  .text-lg-center {
    text-align: center !important; } }

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important; }
  .text-xl-right {
    text-align: right !important; }
  .text-xl-center {
    text-align: center !important; } }

.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.font-weight-normal {
  font-weight: normal; }

.font-weight-bold {
  font-weight: bold; }

.font-italic {
  font-style: italic; }

.text-white {
  color: #fff !important; }

.text-muted {
  color: #b0bec5 !important; }

a.text-muted:focus, a.text-muted:hover {
  color: #93a6af !important; }

.text-primary {
  color: #20a8d8 !important; }

a.text-primary:focus, a.text-primary:hover {
  color: #1985ac !important; }

.text-success {
  color: #4dbd74 !important; }

a.text-success:focus, a.text-success:hover {
  color: #3a9d5d !important; }

.text-info {
  color: #63c2de !important; }

a.text-info:focus, a.text-info:hover {
  color: #39b2d5 !important; }

.text-warning {
  color: #f8cb00 !important; }

a.text-warning:focus, a.text-warning:hover {
  color: #c5a100 !important; }

.text-danger {
  color: #f86c6b !important; }

a.text-danger:focus, a.text-danger:hover {
  color: #f63c3a !important; }

.text-gray-dark {
  color: #263238 !important; }

a.text-gray-dark:focus, a.text-gray-dark:hover {
  color: #11171a !important; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.visible {
  visibility: visible !important; }

.invisible {
  visibility: hidden !important; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.aside-menu {
  z-index: 1019;
  width: 250px;
  color: #263238;
  background: #fff;
  border-left: 1px solid #cfd8dc; }
  .aside-menu .nav-tabs {
    border-color: #cfd8dc; }
    .aside-menu .nav-tabs .nav-link, .aside-menu .nav-tabs .navbar .dropdown-toggle, .navbar .aside-menu .nav-tabs .dropdown-toggle {
      padding: 0.75rem 1rem;
      color: #263238;
      border-top: 0; }
      .aside-menu .nav-tabs .nav-link.active, .aside-menu .nav-tabs .navbar .active.dropdown-toggle, .navbar .aside-menu .nav-tabs .active.dropdown-toggle {
        color: #20a8d8;
        border-right-color: #cfd8dc;
        border-left-color: #cfd8dc; }
    .aside-menu .nav-tabs .nav-item:first-child .nav-link, .aside-menu .nav-tabs .nav-item:first-child .navbar .dropdown-toggle, .navbar .aside-menu .nav-tabs .nav-item:first-child .dropdown-toggle {
      border-left: 0; }
  .aside-menu .tab-content {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    border: 0;
    border-top: 1px solid #cfd8dc;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .aside-menu .tab-content::-webkit-scrollbar {
      width: 10px;
      margin-left: -10px;
      -webkit-appearance: none; }
    .aside-menu .tab-content::-webkit-scrollbar-track {
      background-color: white;
      border-right: 1px solid #f2f2f2;
      border-left: 1px solid #f2f2f2; }
    .aside-menu .tab-content::-webkit-scrollbar-thumb {
      height: 50px;
      background-color: #e6e6e6;
      background-clip: content-box;
      border-color: transparent;
      border-style: solid;
      border-width: 1px 2px; }
    .aside-menu .tab-content .tab-pane {
      padding: 0; }

.img-avatar {
  border-radius: 50em; }

.avatar {
  position: relative;
  display: inline-block;
  width: 36px; }
  .avatar .img-avatar {
    width: 36px;
    height: 36px; }
  .avatar .avatar-status {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50em; }

.avatar.avatar-xs {
  position: relative;
  display: inline-block;
  width: 20px; }
  .avatar.avatar-xs .img-avatar {
    width: 20px;
    height: 20px; }
  .avatar.avatar-xs .avatar-status {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 8px;
    height: 8px;
    border: 1px solid #fff;
    border-radius: 50em; }

.avatar.avatar-sm {
  position: relative;
  display: inline-block;
  width: 24px; }
  .avatar.avatar-sm .img-avatar {
    width: 24px;
    height: 24px; }
  .avatar.avatar-sm .avatar-status {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 8px;
    height: 8px;
    border: 1px solid #fff;
    border-radius: 50em; }

.avatar.avatar-lg {
  position: relative;
  display: inline-block;
  width: 72px; }
  .avatar.avatar-lg .img-avatar {
    width: 72px;
    height: 72px; }
  .avatar.avatar-lg .avatar-status {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    border-radius: 50em; }

.avatars-stack .avatar.avatar-xs {
  margin-right: -10px; }

.avatars-stack .avatar {
  margin-right: -15px;
  transition-duration: 0.25s, 0.25s;
  transition-property: margin-left, margin-right; }
  .avatars-stack .avatar:hover {
    margin-right: 0 !important; }

.breadcrumb-menu {
  position: absolute;
  top: 0;
  right: 1rem; }
  .breadcrumb-menu::before {
    display: none; }
  .breadcrumb-menu .btn {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; }
  .breadcrumb-menu .btn.btn-secondary {
    color: #b0bec5;
    border: 0; }
    .breadcrumb-menu .btn.btn-secondary:hover, .breadcrumb-menu .btn.btn-secondary.active {
      color: #263238;
      background: transparent; }
  .breadcrumb-menu .open .btn.btn-secondary {
    color: #263238;
    background: transparent; }
  .breadcrumb-menu .dropdown-menu {
    min-width: 180px;
    line-height: 1.5; }

.breadcrumb {
  position: relative;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #cfd8dc; }

.dropdown-item {
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid #cfd8dc; }
  .dropdown-item:last-child {
    border-bottom: 0; }
  .dropdown-item i {
    display: inline-block;
    width: 20px;
    margin-right: 10px;
    margin-left: -10px;
    color: #cfd8dc;
    text-align: center; }
  .dropdown-item .badge {
    position: absolute;
    right: 10px;
    margin-top: 2px; }

.dropdown-header {
  padding: 8px 20px;
  background: #eceff1;
  border-bottom: 1px solid #cfd8dc; }
  .dropdown-header .btn {
    margin-top: -7px;
    color: #b0bec5; }
    .dropdown-header .btn:hover {
      color: #263238; }
    .dropdown-header .btn.pull-right {
      margin-right: -20px; }

.dropdown-menu-lg {
  width: 250px; }

.app-footer {
  min-height: 50px;
  padding: 0 1rem;
  line-height: 50px;
  color: #263238;
  background: #eceff1;
  border-top: 1px solid #cfd8dc; }

.main .container-fluid {
  padding: 30px 30px; }

@media all and (-ms-high-contrast: none) {
  html {
    display: flex;
    flex-direction: column; } }

.app,
app-dashboard,
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.app-header {
  flex: 0 0 55px; }

.app-footer {
  flex: 0 0 50px; }

.app-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden; }
  .app-body .main {
    flex: 1; }
  .app-body .sidebar {
    flex: 0 0 200px;
    order: -1; }
  .app-body .aside-menu {
    flex: 0 0 250px; }

.header-fixed .app-header {
  position: fixed;
  z-index: 1020;
  width: 100%; }

.header-fixed .app-body {
  margin-top: 55px; }

.sidebar-hidden .sidebar {
  margin-left: -200px; }

.sidebar-fixed .sidebar {
  position: fixed;
  width: 200px;
  height: 100%; }
  .sidebar-fixed .sidebar .sidebar-nav {
    height: calc(100vh - 55px); }

.sidebar-fixed .main, .sidebar-fixed .app-footer {
  margin-left: 200px; }

.sidebar-fixed.sidebar-hidden .main, .sidebar-fixed.sidebar-hidden .app-footer {
  margin-left: 0; }

.sidebar-off-canvas .sidebar {
  position: fixed;
  z-index: 1019;
  height: 100%; }
  .sidebar-off-canvas .sidebar .sidebar-nav {
    height: calc(100vh - 55px); }

@media (min-width: 992px) {
  .sidebar-compact .sidebar {
    flex: 0 0 50px; }
  .sidebar-compact.sidebar-hidden .sidebar {
    margin-left: -50px; }
  .sidebar-compact.sidebar-fixed .main, .sidebar-compact.sidebar-fixed .app-footer {
    margin-left: 50px; }
  .sidebar-compact.sidebar-fixed .sidebar {
    width: 50px; }
  .sidebar-compact.sidebar-fixed.sidebar-hidden .main, .sidebar-compact.sidebar-fixed.sidebar-hidden .app-footer {
    margin-left: 0; } }

.aside-menu-hidden .aside-menu {
  margin-right: -250px; }

.aside-menu-fixed .aside-menu {
  position: fixed;
  right: 0;
  height: 100%; }
  .aside-menu-fixed .aside-menu .tab-content {
    height: calc(100vh - 2.375rem - 55px); }

.aside-menu-fixed .main, .aside-menu-fixed .app-footer {
  margin-right: 250px; }

.aside-menu-fixed.aside-menu-hidden .main, .aside-menu-fixed.aside-menu-hidden .app-footer {
  margin-right: 0; }

.aside-menu-off-canvas .aside-menu {
  position: fixed;
  right: 0;
  z-index: 1019;
  height: 100%; }
  .aside-menu-off-canvas .aside-menu .tab-content {
    height: calc(100vh - 2.375rem - 55px); }

.footer-fixed .app-footer {
  position: fixed;
  bottom: 0;
  z-index: 1020;
  width: 100%; }

.footer-fixed .app-body {
  margin-bottom: 50px; }

.app-header,
.app-footer,
.sidebar,
.main,
.aside-menu {
  transition-duration: 0.25s, 0.25s, 0.25s, 0.25s;
  transition-property: margin-left, margin-right, width, flex; }

@media (max-width: 991px) {
  .app-header {
    position: fixed !important;
    z-index: 1020;
    width: 100%; }
    .app-header .navbar-toggler {
      position: absolute;
      top: 0;
      left: 0;
      width: 70px;
      height: inherit; }
    .app-header .navbar-toggler {
      color: rgba(0, 0, 0, 0.3); }
    .app-header .navbar-brand {
      width: 100% !important;
      margin: 0 auto !important; }
    .app-header .navbar-nav {
      position: absolute;
      top: 0;
      right: 15px;
      height: inherit; }
  .app-body {
    margin-top: 55px; }
  .sidebar {
    position: fixed;
    width: 220px;
    height: 100%;
    margin-left: -220px; }
    .sidebar .sidebar-nav,
    .sidebar .nav {
      width: 220px !important; }
  .main, .app-footer {
    margin-left: 0 !important; }
  .aside-menu {
    margin-right: -250px; }
  .sidebar-mobile-show .sidebar {
    width: 220px;
    margin-left: 0; }
    .sidebar-mobile-show .sidebar .sidebar-nav {
      height: calc(100vh - 55px); }
  .sidebar-mobile-show .main {
    margin-right: -220px !important;
    margin-left: 220px !important; } }

.nav-tabs .nav-link, .nav-tabs .navbar .dropdown-toggle, .navbar .nav-tabs .dropdown-toggle {
  color: #607d8b; }
  .nav-tabs .nav-link.active, .nav-tabs .navbar .active.dropdown-toggle, .navbar .nav-tabs .active.dropdown-toggle {
    color: #263238;
    background: #fff;
    border-color: #cfd8dc;
    border-bottom-color: #fff; }
    .nav-tabs .nav-link.active:focus, .nav-tabs .navbar .active.dropdown-toggle:focus, .navbar .nav-tabs .active.dropdown-toggle:focus {
      background: #fff;
      border-color: #cfd8dc;
      border-bottom-color: #fff; }

.tab-content {
  margin-top: -1px;
  background: #fff;
  border: 1px solid #cfd8dc; }
  .tab-content .tab-pane {
    padding: 1rem; }

.card-block .tab-content {
  margin-top: 0;
  border: 0; }

header.navbar {
  position: relative;
  flex-direction: row;
  height: 55px;
  padding: 0;
  background-color: #fff;
  border-bottom: 1px solid #cfd8dc; }
  header.navbar .navbar-brand {
    display: inline-block;
    width: 155px;
    height: 55px;
    padding: 0.5rem 1rem;
    margin-right: 0;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70px auto;
    border-bottom: 1px solid #cfd8dc; }
  header.navbar .navbar-nav {
    flex-direction: row;
    align-items: center; }
  header.navbar .nav-item {
    position: relative;
    min-width: 50px;
    margin: 0 !important;
    text-align: center; }
    header.navbar .nav-item .nav-link, header.navbar .nav-item .dropdown-toggle {
      padding-top: 0;
      padding-bottom: 0; }
      header.navbar .nav-item .nav-link .badge, header.navbar .nav-item .dropdown-toggle .badge {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -16px;
        margin-left: 0; }
      header.navbar .nav-item .nav-link > .img-avatar, header.navbar .nav-item .dropdown-toggle > .img-avatar {
        height: 35px;
        margin: 0 10px; }
  header.navbar .dropdown-menu {
    padding-bottom: 0;
    line-height: 1.5; }
  header.navbar .dropdown-item {
    min-width: 180px; }

.navbar-brand {
  color: rgba(0, 0, 0, 0.8); }
  .navbar-brand:focus, .navbar-brand:hover {
    color: rgba(0, 0, 0, 0.8); }

.navbar-nav .nav-link, .navbar-nav .navbar .dropdown-toggle, .app-header .navbar .navbar-nav .dropdown-toggle {
  color: rgba(0, 0, 0, 0.5); }
  .navbar-nav .nav-link:focus, .navbar-nav .navbar .dropdown-toggle:focus, .navbar .navbar-nav .dropdown-toggle:focus, .navbar-nav .nav-link:hover, .navbar-nav .navbar .dropdown-toggle:hover, .navbar .navbar-nav .dropdown-toggle:hover {
    color: rgba(0, 0, 0, 0.8); }

.navbar-nav .open > .nav-link, .navbar-nav .navbar .open > .dropdown-toggle, .navbar .navbar-nav .open > .dropdown-toggle, .navbar-nav .open > .nav-link:focus, .navbar-nav .navbar .open > .dropdown-toggle:focus, .navbar .navbar-nav .open > .dropdown-toggle:focus, .navbar-nav .open > .nav-link:hover, .navbar-nav .navbar .open > .dropdown-toggle:hover, .navbar .navbar-nav .open > .dropdown-toggle:hover,
.navbar-nav .active > .nav-link,
.navbar-nav .navbar .active > .dropdown-toggle, .navbar
.navbar-nav .active > .dropdown-toggle,
.navbar-nav .active > .nav-link:focus,
.navbar-nav .navbar .active > .dropdown-toggle:focus, .navbar
.navbar-nav .active > .dropdown-toggle:focus,
.navbar-nav .active > .nav-link:hover,
.navbar-nav .navbar .active > .dropdown-toggle:hover, .navbar
.navbar-nav .active > .dropdown-toggle:hover,
.navbar-nav .nav-link.open,
.navbar-nav .navbar .open.dropdown-toggle, .navbar
.navbar-nav .open.dropdown-toggle,
.navbar-nav .nav-link.open:focus,
.navbar-nav .navbar .open.dropdown-toggle:focus, .navbar
.navbar-nav .open.dropdown-toggle:focus,
.navbar-nav .nav-link.open:hover,
.navbar-nav .navbar .open.dropdown-toggle:hover, .navbar
.navbar-nav .open.dropdown-toggle:hover,
.navbar-nav .nav-link.active,
.navbar-nav .navbar .active.dropdown-toggle, .navbar
.navbar-nav .active.dropdown-toggle,
.navbar-nav .nav-link.active:focus,
.navbar-nav .navbar .active.dropdown-toggle:focus, .navbar
.navbar-nav .active.dropdown-toggle:focus,
.navbar-nav .nav-link.active:hover,
.navbar-nav .navbar .active.dropdown-toggle:hover, .navbar
.navbar-nav .active.dropdown-toggle:hover {
  color: rgba(0, 0, 0, 0.8); }

.navbar-divider {
  background-color: rgba(0, 0, 0, 0.075); }

.sidebar {
  padding: 0;
  color: #fff;
  background: #263238;
  overflow: hidden; }
  .sidebar .sidebar-close {
    position: absolute;
    right: 0;
    display: none;
    padding: 0 1rem;
    font-size: 24px;
    font-weight: 800;
    line-height: 55px;
    color: #fff;
    background: 0;
    border: 0;
    opacity: .8; }
    .sidebar .sidebar-close:hover {
      opacity: 1; }
  .sidebar .sidebar-nav {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    width: 200px; }
    .sidebar .sidebar-nav::-webkit-scrollbar {
      position: absolute;
      width: 10px;
      margin-left: -10px;
      -webkit-appearance: none; }
    .sidebar .sidebar-nav::-webkit-scrollbar-track {
      background-color: #304047;
      border-right: 1px solid #1c2429;
      border-left: 1px solid #1c2429; }
    .sidebar .sidebar-nav::-webkit-scrollbar-thumb {
      height: 50px;
      background-color: #11171a;
      background-clip: content-box;
      border-color: transparent;
      border-style: solid;
      border-width: 1px 2px; }
  .sidebar .nav {
    width: 200px;
    flex-direction: column !important; }
    .sidebar .nav .nav-title {
      padding: 0.75rem 1rem;
      font-size: 11px;
      font-weight: 600;
      color: #cfd8dc;
      text-transform: uppercase; }
    .sidebar .nav .divider {
      height: 10px; }
    .sidebar .nav .nav-item {
      position: relative;
      margin: 0;
      transition: background .3s ease-in-out; }
      .sidebar .nav .nav-item ul {
        max-height: 0;
        padding: 0;
        margin: 0;
        overflow-y: hidden;
        transition: max-height .3s ease-in-out; }
        .sidebar .nav .nav-item ul li {
          padding: 0;
          list-style: none; }
      .sidebar .nav .nav-item .nav-link, .sidebar .nav .nav-item .navbar .dropdown-toggle, .navbar .sidebar .nav .nav-item .dropdown-toggle {
        display: block;
        padding: 0.75rem 1rem;
        color: #fff;
        text-decoration: none;
        background: transparent; }
        .sidebar .nav .nav-item .nav-link:hover, .sidebar .nav .nav-item .navbar .dropdown-toggle:hover, .navbar .sidebar .nav .nav-item .dropdown-toggle:hover {
          color: #fff !important;
          background: #20a8d8 !important; }
          .sidebar .nav .nav-item .nav-link:hover i, .sidebar .nav .nav-item .navbar .dropdown-toggle:hover i, .navbar .sidebar .nav .nav-item .dropdown-toggle:hover i {
            color: #fff !important; }
        .sidebar .nav .nav-item .nav-link.active, .sidebar .nav .nav-item .navbar .active.dropdown-toggle, .navbar .sidebar .nav .nav-item .active.dropdown-toggle {
          color: #fff;
          background: #304047; }
          .sidebar .nav .nav-item .nav-link.active i, .sidebar .nav .nav-item .navbar .active.dropdown-toggle i, .navbar .sidebar .nav .nav-item .active.dropdown-toggle i {
            color: #20a8d8; }
        .sidebar .nav .nav-item .nav-link [class^="icon-"], .sidebar .nav .nav-item .navbar .dropdown-toggle [class^="icon-"], .navbar .sidebar .nav .nav-item .dropdown-toggle [class^="icon-"], .sidebar .nav .nav-item .nav-link [class*=" icon-"], .sidebar .nav .nav-item .navbar .dropdown-toggle [class*=" icon-"], .navbar .sidebar .nav .nav-item .dropdown-toggle [class*=" icon-"] {
          display: inline-block;
          margin-top: -4px;
          vertical-align: middle; }
        .sidebar .nav .nav-item .nav-link i, .sidebar .nav .nav-item .navbar .dropdown-toggle i, .navbar .sidebar .nav .nav-item .dropdown-toggle i {
          width: 20px;
          margin: 0 0.5rem 0 0;
          font-size: 14px;
          color: #b0bec5;
          text-align: center; }
        .sidebar .nav .nav-item .nav-link .badge, .sidebar .nav .nav-item .navbar .dropdown-toggle .badge, .navbar .sidebar .nav .nav-item .dropdown-toggle .badge {
          float: right;
          margin-top: 2px; }
        .sidebar .nav .nav-item .nav-link.nav-dropdown-toggle::before, .sidebar .nav .nav-item .navbar .nav-dropdown-toggle.dropdown-toggle::before, .navbar .sidebar .nav .nav-item .nav-dropdown-toggle.dropdown-toggle::before {
          position: absolute;
          top: 0.96875rem;
          right: 1rem;
          display: block;
          width: 0.875rem;
          height: 0.875rem;
          padding: 0;
          font-size: 0.875rem;
          line-height: 0.65625rem;
          text-align: center;
          content: "\2039";
          transition: .3s; }
      .sidebar .nav .nav-item.nav-dropdown.open {
        background: rgba(0, 0, 0, 0.2); }
        .sidebar .nav .nav-item.nav-dropdown.open > ul, .sidebar .nav .nav-item.nav-dropdown.open > ol {
          max-height: 1000px; }
        .sidebar .nav .nav-item.nav-dropdown.open a.nav-link, .sidebar .nav .nav-item.nav-dropdown.open .navbar a.dropdown-toggle, .navbar .sidebar .nav .nav-item.nav-dropdown.open a.dropdown-toggle {
          color: #fff;
          border-left: 0 !important; }
        .sidebar .nav .nav-item.nav-dropdown.open > .nav-link.nav-dropdown-toggle::before, .sidebar .nav .navbar .nav-item.nav-dropdown.open > .nav-dropdown-toggle.dropdown-toggle::before, .navbar .sidebar .nav .nav-item.nav-dropdown.open > .nav-dropdown-toggle.dropdown-toggle::before {
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }
        .sidebar .nav .nav-item.nav-dropdown.open .nav-dropdown.open {
          border-left: 0; }
      .sidebar .nav .nav-item.nav-dropdown.nt {
        transition: 0s !important; }
        .sidebar .nav .nav-item.nav-dropdown.nt > ul, .sidebar .nav .nav-item.nav-dropdown.nt > ol {
          transition: 0s !important; }
        .sidebar .nav .nav-item.nav-dropdown.nt a.nav-link.nav-dropdown-toggle::before, .sidebar .nav .nav-item.nav-dropdown.nt .navbar a.nav-dropdown-toggle.dropdown-toggle::before, .navbar .sidebar .nav .nav-item.nav-dropdown.nt a.nav-dropdown-toggle.dropdown-toggle::before {
          transition: 0s !important; }
      .sidebar .nav .nav-item a.nav-label {
        display: block;
        padding: 0.09375rem 1rem;
        color: #cfd8dc; }
        .sidebar .nav .nav-item a.nav-label:hover {
          color: #fff;
          text-decoration: none; }
        .sidebar .nav .nav-item a.nav-label i {
          width: 20px;
          margin: -3px 0.5rem 0 0;
          font-size: 10px;
          color: #b0bec5;
          text-align: center;
          vertical-align: middle; }
      .sidebar .nav .nav-item .progress {
        background-color: #455b66 !important; }

@media (min-width: 992px) {
  .sidebar-compact .hidden-cn {
    display: none; }
  .sidebar-compact .sidebar {
    z-index: 1019; }
    .sidebar-compact .sidebar:hover {
      overflow: visible; }
    .sidebar-compact .sidebar .sidebar-nav {
      overflow: visible;
      width: 50px; }
    .sidebar-compact .sidebar .nav {
      width: 50px; }
      .sidebar-compact .sidebar .nav .nav-title, .sidebar-compact .sidebar .nav .divider {
        display: none; }
      .sidebar-compact .sidebar .nav .nav-item {
        width: 50px;
        overflow: hidden;
        border-left: 0 !important; }
        .sidebar-compact .sidebar .nav .nav-item ul {
          background: #263238; }
        .sidebar-compact .sidebar .nav .nav-item .nav-link, .sidebar-compact .sidebar .nav .nav-item .navbar .dropdown-toggle, .navbar .sidebar-compact .sidebar .nav .nav-item .dropdown-toggle {
          position: relative;
          padding-left: 0;
          margin: 0;
          white-space: nowrap;
          border-left: 0 !important; }
          .sidebar-compact .sidebar .nav .nav-item .nav-link.nav-dropdown-toggle::before, .sidebar-compact .sidebar .nav .nav-item .navbar .nav-dropdown-toggle.dropdown-toggle::before, .navbar .sidebar-compact .sidebar .nav .nav-item .nav-dropdown-toggle.dropdown-toggle::before {
            display: none; }
          .sidebar-compact .sidebar .nav .nav-item .nav-link i, .sidebar-compact .sidebar .nav .nav-item .navbar .dropdown-toggle i, .navbar .sidebar-compact .sidebar .nav .nav-item .dropdown-toggle i {
            display: block;
            float: left;
            width: 50px;
            padding: 0;
            margin: 0 !important;
            font-size: 18px; }
          .sidebar-compact .sidebar .nav .nav-item .nav-link .badge, .sidebar-compact .sidebar .nav .nav-item .navbar .dropdown-toggle .badge, .navbar .sidebar-compact .sidebar .nav .nav-item .dropdown-toggle .badge {
            position: absolute;
            right: 15px;
            display: none; }
          .sidebar-compact .sidebar .nav .nav-item .nav-link:hover, .sidebar-compact .sidebar .nav .nav-item .navbar .dropdown-toggle:hover, .navbar .sidebar-compact .sidebar .nav .nav-item .dropdown-toggle:hover {
            width: 200px; }
            .sidebar-compact .sidebar .nav .nav-item .nav-link:hover .badge, .sidebar-compact .sidebar .nav .nav-item .navbar .dropdown-toggle:hover .badge, .navbar .sidebar-compact .sidebar .nav .nav-item .dropdown-toggle:hover .badge {
              display: inline; }
        .sidebar-compact .sidebar .nav .nav-item ul {
          position: absolute;
          left: 50px; }
          .sidebar-compact .sidebar .nav .nav-item ul li {
            position: relative;
            padding: 0; }
            .sidebar-compact .sidebar .nav .nav-item ul li .nav-link, .sidebar-compact .sidebar .nav .nav-item ul li .navbar .dropdown-toggle, .navbar .sidebar-compact .sidebar .nav .nav-item ul li .dropdown-toggle {
              width: 150px; }
            .sidebar-compact .sidebar .nav .nav-item ul li ul, .sidebar-compact .sidebar .nav .nav-item ul li ol {
              position: absolute;
              top: 0;
              left: 100%; }
        .sidebar-compact .sidebar .nav .nav-item.nav-dropdown.open {
          background: #304047; }
          .sidebar-compact .sidebar .nav .nav-item.nav-dropdown.open > a.nav-link i, .sidebar-compact .sidebar .nav .navbar .nav-item.nav-dropdown.open > a.dropdown-toggle i, .navbar .sidebar-compact .sidebar .nav .nav-item.nav-dropdown.open > a.dropdown-toggle i {
            color: #20a8d8; }
          .sidebar-compact .sidebar .nav .nav-item.nav-dropdown.open > ul, .sidebar-compact .sidebar .nav .nav-item.nav-dropdown.open > ol {
            display: none; }
        .sidebar-compact .sidebar .nav .nav-item:hover {
          width: 250px;
          overflow: visible;
          background: #20a8d8;
          transition: 0s; }
          .sidebar-compact .sidebar .nav .nav-item:hover > a.nav-link, .sidebar-compact .sidebar .nav .navbar .nav-item:hover > a.dropdown-toggle, .navbar .sidebar-compact .sidebar .nav .nav-item:hover > a.dropdown-toggle {
            width: 250px; }
          .sidebar-compact .sidebar .nav .nav-item:hover > ul, .sidebar-compact .sidebar .nav .nav-item:hover > ol {
            display: inline;
            max-height: 10000px;
            transition: 0s; }
            .sidebar-compact .sidebar .nav .nav-item:hover > ul li, .sidebar-compact .sidebar .nav .nav-item:hover > ol li {
              width: 200px; }
              .sidebar-compact .sidebar .nav .nav-item:hover > ul li a.nav-link, .sidebar-compact .sidebar .nav .nav-item:hover > ul li .navbar a.dropdown-toggle, .navbar .sidebar-compact .sidebar .nav .nav-item:hover > ul li a.dropdown-toggle, .sidebar-compact .sidebar .nav .nav-item:hover > ol li a.nav-link, .sidebar-compact .sidebar .nav .nav-item:hover > ol li .navbar a.dropdown-toggle, .navbar .sidebar-compact .sidebar .nav .nav-item:hover > ol li a.dropdown-toggle {
                width: 200px; }
          .sidebar-compact .sidebar .nav .nav-item:hover.nav-dropdown.open > ul, .sidebar-compact .sidebar .nav .nav-item:hover.nav-dropdown.open > ol {
            display: inline; } }

.horizontal-bars {
  padding: 0;
  margin: 0;
  list-style: none; }
  .horizontal-bars li {
    position: relative;
    height: 40px;
    line-height: 40px;
    vertical-align: middle; }
    .horizontal-bars li .title {
      width: 100px;
      font-size: 12px;
      font-weight: 600;
      color: #b0bec5;
      vertical-align: middle; }
    .horizontal-bars li .bars {
      position: absolute;
      top: 15px;
      width: 100%;
      padding-left: 100px; }
      .horizontal-bars li .bars .progress:first-child {
        margin-bottom: 2px; }
    .horizontal-bars li.legend {
      text-align: center; }
      .horizontal-bars li.legend .badge {
        display: inline-block;
        width: 8px;
        height: 8px;
        padding: 0; }
    .horizontal-bars li.divider {
      height: 40px; }
      .horizontal-bars li.divider i {
        margin: 0 !important; }
  .horizontal-bars.type-2 li {
    overflow: hidden; }
    .horizontal-bars.type-2 li i {
      display: inline-block;
      margin-right: 1rem;
      margin-left: 5px;
      font-size: 18px;
      line-height: 40px; }
    .horizontal-bars.type-2 li .title {
      display: inline-block;
      width: auto;
      margin-top: -9px;
      font-size: 0.875rem;
      font-weight: normal;
      line-height: 40px;
      color: #263238; }
    .horizontal-bars.type-2 li .value {
      float: right;
      font-weight: 600; }
    .horizontal-bars.type-2 li .bars {
      position: absolute;
      top: auto;
      bottom: 0;
      padding: 0; }

ul.icons-list {
  padding: 0;
  margin: 0;
  list-style: none; }
  ul.icons-list li {
    position: relative;
    height: 40px;
    vertical-align: middle; }
    ul.icons-list li i {
      display: block;
      float: left;
      width: 35px !important;
      height: 35px !important;
      margin: 2px;
      line-height: 35px !important;
      text-align: center; }
    ul.icons-list li .desc {
      height: 40px;
      margin-left: 50px;
      border-bottom: 1px solid #cfd8dc; }
      ul.icons-list li .desc .title {
        padding: 2px 0 0;
        margin: 0; }
      ul.icons-list li .desc small {
        display: block;
        margin-top: -4px;
        color: #b0bec5; }
    ul.icons-list li .value {
      position: absolute;
      top: 2px;
      right: 45px;
      text-align: right; }
      ul.icons-list li .value strong {
        display: block;
        margin-top: -3px; }
    ul.icons-list li .actions {
      position: absolute;
      top: -4px;
      right: 10px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center; }
      ul.icons-list li .actions i {
        float: none;
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        line-height: normal; }
    ul.icons-list li.divider {
      height: 40px; }
      ul.icons-list li.divider i {
        width: auto;
        height: auto;
        margin: 2px 0 0;
        font-size: 18px; }

@media (max-width: 575px) {
  .d-down-none {
    display: none !important; } }

@media (max-width: 767px) {
  .d-sm-down-none {
    display: none !important; } }

@media (max-width: 991px) {
  .d-md-down-none {
    display: none !important; } }

@media (max-width: 1199px) {
  .d-lg-down-none {
    display: none !important; } }

.d-xl-down-none {
  display: none !important; }

.open > .dropdown-menu {
  display: block; }

.open > a {
  outline: 0; }

.navbar .dropdown-toggle .img-avatar {
  height: 35px;
  margin: 0 10px; }

*[dir="rtl"] {
  direction: rtl;
  unicode-bidi: embed; }
  *[dir="rtl"] ul {
    -webkit-padding-start: 0; }
  *[dir="rtl"] table tr th {
    text-align: right; }
  *[dir="rtl"] .breadcrumb-item {
    float: right; }
  *[dir="rtl"] .breadcrumb-menu {
    right: auto;
    left: 1rem; }
  *[dir="rtl"] .dropdown-item {
    text-align: right; }
    *[dir="rtl"] .dropdown-item i {
      margin-right: -10px;
      margin-left: 10px; }
    *[dir="rtl"] .dropdown-item .badge {
      right: auto;
      left: 10px; }
  *[dir="rtl"] .sidebar-hidden .sidebar {
    margin-right: -200px; }
  *[dir="rtl"] .sidebar-fixed .main, *[dir="rtl"] .sidebar-fixed .app-footer {
    margin-right: 200px; }
  *[dir="rtl"] .sidebar-fixed.sidebar-hidden .main, *[dir="rtl"] .sidebar-fixed.sidebar-hidden .app-footer {
    margin-right: 0; }
  *[dir="rtl"] .sidebar-compact .sidebar {
    flex: 0 0 50px; }
  *[dir="rtl"] .sidebar-compact.sidebar-hidden .sidebar {
    margin-left: -50px; }
  *[dir="rtl"] .sidebar-compact.sidebar-fixed .main, *[dir="rtl"] .sidebar-compact.sidebar-fixed .app-footer {
    margin-left: 50px; }
  *[dir="rtl"] .sidebar-compact.sidebar-fixed.sidebar-hidden .main, *[dir="rtl"] .sidebar-compact.sidebar-fixed.sidebar-hidden .app-footer {
    margin-left: 0; }
  *[dir="rtl"] .aside-menu-hidden .aside-menu {
    margin-left: -250px; }
  *[dir="rtl"] .aside-menu-fixed .aside-menu {
    right: auto;
    left: 0; }
  *[dir="rtl"] .aside-menu-fixed .main, *[dir="rtl"] .aside-menu-fixed .app-footer {
    margin-left: 250px; }
  *[dir="rtl"] .aside-menu-fixed.aside-menu-hidden .main, *[dir="rtl"] .aside-menu-fixed.aside-menu-hidden .app-footer {
    margin-left: 0; }
  *[dir="rtl"] .aside-menu-off-canvas .aside-menu {
    position: fixed;
    right: 0;
    z-index: 1019;
    height: 100%; }
    *[dir="rtl"] .aside-menu-off-canvas .aside-menu .tab-content {
      height: calc(100vh - 2.375rem - 55px); }
  *[dir="rtl"] .sidebar .sidebar-nav {
    direction: ltr; }
    *[dir="rtl"] .sidebar .sidebar-nav * {
      direction: rtl; }
    *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .nav-link [class^="icon-"], *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .navbar .dropdown-toggle [class^="icon-"], .navbar *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .dropdown-toggle [class^="icon-"], *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .nav-link [class*=" icon-"], *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .navbar .dropdown-toggle [class*=" icon-"], .navbar *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .dropdown-toggle [class*=" icon-"] {
      margin-right: -4px; }
    *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .nav-link .badge, *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .navbar .dropdown-toggle .badge, .navbar *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .dropdown-toggle .badge {
      float: left;
      margin-top: 2px; }
    *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .nav-link.nav-dropdown-toggle::before, *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .navbar .nav-dropdown-toggle.dropdown-toggle::before, .navbar *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .nav-dropdown-toggle.dropdown-toggle::before {
      position: absolute;
      right: auto !important;
      left: 1rem; }
    *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item.nav-dropdown.open > .nav-link.nav-dropdown-toggle::before, *[dir="rtl"] .sidebar .sidebar-nav .nav .navbar .nav-item.nav-dropdown.open > .nav-dropdown-toggle.dropdown-toggle::before, .navbar *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item.nav-dropdown.open > .nav-dropdown-toggle.dropdown-toggle::before {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
  *[dir="rtl"] .horizontal-bars li .bars {
    padding-right: 100px;
    padding-left: 0; }
    *[dir="rtl"] .horizontal-bars li .bars .progress:first-child {
      margin-bottom: 2px; }
  *[dir="rtl"] .horizontal-bars.type-2 li i {
    margin-right: 5px;
    margin-left: 1rem; }
  *[dir="rtl"] .horizontal-bars.type-2 li .value {
    float: left;
    font-weight: 600; }
  *[dir="rtl"] .horizontal-bars.type-2 li .bars {
    padding: 0; }
  *[dir="rtl"] .icons-list li {
    position: relative;
    height: 40px;
    vertical-align: middle; }
    *[dir="rtl"] .icons-list li i {
      float: right; }
    *[dir="rtl"] .icons-list li .desc {
      margin-right: 50px;
      margin-left: 0; }
    *[dir="rtl"] .icons-list li .value {
      right: auto;
      left: 45px;
      text-align: left; }
      *[dir="rtl"] .icons-list li .value strong {
        display: block;
        margin-top: -3px; }
    *[dir="rtl"] .icons-list li .actions {
      right: auto;
      left: 10px; }
  *[dir="rtl"] .callout {
    border: 0 solid #cfd8dc;
    border-right-width: .25rem; }
    *[dir="rtl"] .callout .chart-wrapper {
      left: 0;
      float: left; }
  *[dir="rtl"] .callout-default {
    border-right-color: #b0bec5; }
  *[dir="rtl"] .callout-primary {
    border-right-color: #20a8d8; }
  *[dir="rtl"] .callout-info {
    border-right-color: #63c2de; }
  *[dir="rtl"] .callout-warning {
    border-right-color: #f8cb00; }
  *[dir="rtl"] .callout-danger {
    border-right-color: #f86c6b; }
  *[dir="rtl"] .callout-success {
    border-right-color: #4dbd74; }
