.admin-app .navbar {
  width : 84%;
}
.admin-app {
  font-family: 'Roboto'
}
.treeview-menu li {
  padding :5px 5px 5px 15px;
}
td img {
  width : 100px;
  height : 100px;
}

.feedback-management button {
  width : 80px;
  margin-bottom: 10px;
}
.project-management button, .user-management button, .organization-management button {
  width : 100px;
  margin-bottom: 10px !important;
}

.project-detail .row {
  margin-left: 0;
  margin-right: 0;
}
.project-detail .btn-action-detail {
  float : left;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left : 20px;
}

.logo-detail {
  margin-bottom: 20px;
}

.main-sidebar {
  min-height: 1350px;
}
.content-wrapper {
  height : 1300px !important;
}
.login-page {
  height : 890px !important;
  margin-top : -90px;
  padding-top : 200px;
}

.admin-app .title {
  text-align: center;
  font-size : 24px;
  font-weight: bold;
  color : #3c8dbc;
  padding-top : 50px;
  padding-bottom: 50px;
}
.dashboard .row {
  margin-left: 0;
  margin-right: 0;
}
.admin-app .title span {
  text-decoration: underline;
  text-transform: uppercase;
}

.chart-container {
  padding : 10px;
}
.chart-card {
  background-color: white;
  box-shadow: 0px 3px 15px rgba(160, 160, 160, 0.45);
  padding: 10px;
}
